{% extends 'backend/indexbackend.html.twig' %}

{% block title %}Modifier Réclamation{% endblock %}

{% block content %}
    <h2>Modifier Réclamation #{{ reclamation.id }}</h2>
    {% include 'reclamation/_form.html.twig' %}
    <a href="{{ path('app_reclamation_index') }}" class="btn btn-secondary mt-2">Retour</a>
{% endblock %}
