<form method="post" action="{{ path('app_commande_delete', {'id_commande': commande.idCommande}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette commande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idCommande) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
