<form method="post" action="{{ path('app_alerte_delete', {'id': alerte.id_alerte}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alerte.id_alerte) }}">
    <button class="btn">Delete</button>
</form>
