<form method="post" action="{{ path('app_rendu_delete', {'id': rendu.id_rendu}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendu.id_rendu) }}">
    <button class="btn">Delete</button>
</form>
