{% extends 'backend/indexbackend.html.twig' %}

{% block title %}Edit Feed{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Edit Feed</h1>

        {# Formulaire de modification #}
        {{ include('feed/_form.html.twig', {'button_label': 'Update'}) }}

        {# Lien pour retourner à la liste #}
        <a href="{{ path('app_feed_index') }}" class="btn btn-secondary mt-3">Back to List</a>

        {# Formulaire de suppression #}
        {{ include('feed/_delete_form.html.twig') }}
    </div>
{% endblock %}