{% extends 'base.html.twig' %}
{% block title %}reset password{% endblock %}

{% block css %}
    {{ parent() }}
    
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{{asset('css/util1.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/main1.css')}}">

    <style>
        /* Positionnement de l'icône d'affichage du mot de passe */
        .toggle-password {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 18px;
            color: #aaa;
        }

        .toggle-password:hover {
            color: #333;
        }

        .wrap-input100 {
            position: relative;
        }
     
    </style></head>
    {% endblock %}


{% block section %}
<body>
    
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                    <span class="login100-form-title" style="weight:100%">
                        Réinitialiser le mot de passe
                    </span>

                    <!-- Champ Mot de passe -->
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="password" name="password" id="password" placeholder="Mot de passe">
                        <span class="focus-input100"></span>
                        <span class="toggle-password" onclick="togglePassword('password')">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>

                    <!-- Champ Confirmation du mot de passe -->
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="confirm_password" id="confirm_password" placeholder="Confirmer le mot de passe">
                        <span class="focus-input100"></span>
                        <span class="toggle-password" onclick="togglePassword('confirm_password')">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
					<br><br><br><br>
                    <!-- Bouton Réinitialiser -->
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Réinitialiser
                        </button>
						
                    </div>
					<br><br><br><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
   {% block js %}
    {{ parent() }}
    <script>
        function togglePassword(id) {
            var input = document.getElementById(id);
            var icon = input.nextElementSibling.nextElementSibling.querySelector("i");
            
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>
{% endblock %}
